.swipper2 {
  width: 100%;
  position: relative;
  overflow: visible;
}

@media (max-width: 1280px) {
  .swipper2 .swiper-button-next,
  .swipper2 .swiper-button-prev {
    display: none !important;
  }
}

.swipper2 .swiper-pagination {
  display: none !important;
}
.swipper2 .swiper-button-next::after,
.swipper2 .swiper-button-prev::after {
  content: "" !important;
}

.swipper2 .swiper-button-next {
  position: absolute;
  top: 45%;
  left: -20px !important;
  background: url("/landing/img/VectorLeft.svg") no-repeat center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: contain;
}

.swipper2 .swiper-button-prev {
  position: absolute;
  top: 45%;
  right: -20px !important;
  background: url("/landing/img/VectorRight.svg") no-repeat center;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-size: contain;
}
